* {
  float: none;
  position: static;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.site-content {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #E377E5;
  -webkit-box-shadow: #90326D 0 7px 35px 0;
          box-shadow: #90326D 0 7px 35px 0;
}

.site-footer {
  position: fixed;
  background: #3E0EA6;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.body-warpper{
  overflow: hidden;
}
@media screen and (min-width: 751px) {
  .sInner {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: relative;
  }
  .section-title {
    font-size: 50px;
  }
  /*---------------------------------------------
header
-----------------------------------------------*/
  #header {
    background: #7159A6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    padding: 20px 4% 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    opacity: 0.7;
    z-index: 3;
  }
  nav {
    margin-left: auto;
  }
  .site-title {
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  .site-title a {
    color: #DAEC28;
  }
  .main-nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav li {
    margin-left: 15px;
    font-size: 16px;
  }
  .main-nav li a {
    color: #DAEC28;
  }
  .main-nav li a:hover {
    color: #FFA100;
  }
  .btn-menu {
    display: none;
  }

  /*---------------------------------------------
news
-----------------------------------------------*/
  #news {
    padding-top: 30vh;
    padding-bottom: 35vh;
    background-image: url("../img/news_bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(#d7d2cc), to(#304352));
    background-image: url("../img/news_bg.jpg"), linear-gradient(#d7d2cc, #304352);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    color: #fff;
  }
  #news .news-list {
    line-height: 2;
  }
  #news .news-list p {
    font-size: 28px;
  }
  /*---------------------------------------------
about
-----------------------------------------------*/
  #about {
    padding-top: 30vh;
    padding-bottom: 35vh;
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 20%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    background-image: url("../img/about-bg.jpg"), linear-gradient(125deg, #67BFD5, #F7CD39);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
  }
  #about h2 {
    margin-top: 20px;
  }
  .about-cont {
    width: 100vw;
    margin: 0px auto;
    text-align: center;
    position: relative;
    margin: 25px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-thumbnail {
    margin: 10px auto;
    overflow: hidden;
    position: relative;
  }
  .about-img {
    width: 280px;
    height: auto;
  }
  .about-text {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #004898;
    font-weight: bold;
    padding: 5px 15px;
    opacity: 0;
    background-color: gold;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .about-thumbnail:hover .about-text {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.8;
  }
  .about-link a {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 374px;
    background-color: #7159A6;
    border-radius: 20px;
    color: #DAEC28;
    font-size: 30px;
  }
  .about-link a:after {
    display: inline-block;
    font-family: 'Material Icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e87d';
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
    line-height: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .about-link a:hover:after {
    right: 10px;
  }
  /*---------------------------------------------
pick-up
-----------------------------------------------*/
  #pick-up {
    padding-top: 30vh;
    padding-bottom: 40vh;
    background-image: url("../img/pick-up_bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(#ed6ea0), to(#ec8c69));
    background-image: url("../img/pick-up_bg.jpg"), linear-gradient(#ed6ea0, #ec8c69);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 60%, 0 100%);
  }
  .flickty-container {
    width: 45vw;
    margin: 0px auto;
    text-align: center;
    position: relative;
  }
  .flickty-container .flickty-slide {
    width: 45vw;
    height: auto;
  }
  /*---------------------------------------------
contact
-----------------------------------------------*/
  #contact {
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-image: url("../img/contact-bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(#ca654b), to(#543221));
    background-image: url("../img/contact-bg.jpg"), linear-gradient(#ca654b, #543221);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 20%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
  }
  #contact h1 {
    color: #fff;
  }
  .contact-link {
    padding-top: 50px;
  }
  .contact-button {
    padding: 0.75em 2em;
    text-align: center;
    color: #DAEC28;
    border: 2px solid #7159A6;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .contact-button::before {
    content: "";
    background-color: #D2D0E8;
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
    -webkit-transition: none;
    transition: none;
  }
  .contact-button:hover {
    background-color: #7159A6;
    color: #DAEC28;
    border-bottom: 4px solid #5a4785;
  }
  .contact-button:hover::before {
    -webkit-transform: skewX(-45deg) translateX(22em);
            transform: skewX(-45deg) translateX(22em);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  /*---------------------------------------------
model
-----------------------------------------------*/
  .model {
    display: none;
    height: 150vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  .model_bg {
    background: rgba(144, 50, 109, 0.8);
    height: 150vh;
    position: absolute;
    width: 100%;
  }
  .model_content {
    background: #f19cbb;
    border: solid 4px;
    border-color: #e4437e;
    border-radius: 10px;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
  }
  /*-----------------------------------------------------
model
-------------------------------------------------------*/
  .form-label {
    color: #7159A6;
  }
  .btn-primary {
    background-color: #7159A6;
    border-color: #5a4785;
    color: #DAEC28;
  }
  .close-button {
    padding: 3px 6px;
  }
  .close-button a {
    background: #7159A6;
    color: #DAEC28;
    border-radius: 5px;
  }
  .close-button {
    margin-top: 20px;
  }
  .close-button a {
    background-color: #00DBDE;
    background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
    color: #DAEC28;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .close-button a:active {
    background-image: linear-gradient(45deg, #00DBDE 30%, #FC00FF 100%);
  }
  /*---------------------------------------------
footer
-----------------------------------------------*/
  #footer {
    color: #DAEC28;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
  }
  .cont-item {
    display: block;
    width: calc(100%/3);
    padding-bottom: 10px;
  }
  .nav a {
    display: block;
    color: #DAEC28;
  }
  .nav ul {
    display: block;
    font-size: 25px;
    line-height: 2;
  }
  .nav li {
    display: block;
    font-size: 25px;
    line-height: 2;
  }
  .nav li:first-child {
    margin-top: 0;
  }
  .nav li ul {
    margin: 0 0 0 2em;
  }
  .nav li li {
    position: relative;
  }
  .nav li li::before {
    position: absolute;
    top: 50%;
    left: -10px;
    content: "";
    display: block;
    width: 4px;
    height: 1px;
    background-color: #DAEC28;
  }
  .nav li img {
    width: 5em;
  }
  .site-title {
    display: block;
  }
  .copyright {
    background: #2c0a77;
    text-align: center;
  }
  .copyright p {
    margin-bottom: 0;
    padding: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .section-title {
    font-size: 35px;
  }
  .sInner {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: relative;
  }
  #header {
    background: #7159A6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    padding: 20px 4% 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    opacity: 0.7;
    z-index: 3;
  }
  nav {
    margin-left: auto;
  }
  .site-title {
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
  .site-title a {
    color: #DAEC28;
  }
  .main-nav {
    width: 0;
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 0;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .main-nav li {
    text-align: center;
    margin: 2rem 0;
  }
  .main-nav a {
    display: block;
    color: #DAEC28;
  }
  .open-menu {
    background: #7159A6;
    width: 100%;
  }
  .btn-menu {
    position: absolute;
    background: #DAEC28;
    color: #7159A6;
    top: 12px;
    right: 12px;
    border: 1px solid #DAEC28;
    padding: .5rem 1rem;
  }
  #news {
    margin: 20px 0;
    padding-top: 45px;
    padding-bottom: 45px;
    background-image: url("../img/news_bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(#d7d2cc), to(#304352));
    background-image: url("../img/news_bg.jpg"), linear-gradient(#d7d2cc, #304352);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    color: #fff;
  }
  .news-list {
    line-height: 20px;
  }
  .news-list p {
    font-size: 20px;
  }
  #about {
    margin: 20px 0;
    padding-top: 45px;
    padding-bottom: 45px;
    background-image: url("../img/about-bg_sp.jpg"), linear-gradient(125deg, #67BFD5, #F7CD39);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
  }
  #about h2 {
    font-size: 34px;
  }
  #about h3 {
    font-size: 18px;
  }
  .about-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-thumbnail {
    margin: 10vw auto;
    overflow: hidden;
    position: relative;
  }
  .about-img {
    width: 280px;
    height: auto;
  }
  .about-text {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #004898;
    font-weight: bold;
    padding: 5px 15px;
    opacity: 0;
    background-color: gold;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .about-thumbnail:hover .about-text {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.8;
  }
  .about-link a {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 60vw;
    background-color: #7159A6;
    border-radius: 20px;
    color: #DAEC28;
    font-size: 15px;
  }
  .about-link a:after {
    display: inline-block;
    font-family: 'Material Icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e87d';
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
    line-height: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #pick-up {
    margin: 20px 0;
    padding-top: 45px;
    padding-bottom: 45px;
    background-image: url("../img/pick-up_bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(#ed6ea0), to(#ec8c69));
    background-image: url("../img/pick-up_bg.jpg"), linear-gradient(#ed6ea0, #ec8c69);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
  }
  .flickty-container {
    width: 80vw;
    margin: 0px auto;
    text-align: center;
    position: relative;
  }
  .flickty-container .flickty-slide {
    width: 80vw;
    height: auto;
  }
  #contact {
    margin: 20px 0;
    padding-top: 45px;
    padding-bottom: 45px;
    background-image: url("../img/contact-bg.jpg"), -webkit-gradient(linear, left top, left bottom, from(#ca654b), to(#543221));
    background-image: url("../img/contact-bg.jpg"), linear-gradient(#ca654b, #543221);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    color: #fff;
  }
  .contact-link {
    padding-top: 200px;
  }
  .contact-button {
    padding: 0.75em 2em;
    text-align: center;
    color: #DAEC28;
    border: 2px solid #7159A6;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .model {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  .model_bg {
    background: rgba(144, 50, 109, 0.8);
    height: 150vh;
    position: absolute;
    width: 100%;
  }
  .model_content {
    background: #f19cbb;
    border: solid 4px;
    border-color: #e4437e;
    border-radius: 10px;
    left: 50%;
    padding: 5vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
  }
  .form-label {
    color: #7159A6;
  }
  .btn-primary {
    background-color: #7159A6;
    border-color: #5a4785;
    color: #DAEC28;
  }
  .close-button {
    padding: 3px 6px;
  }
  .close-button a {
    background: #7159A6;
    color: #DAEC28;
    border-radius: 5px;
  }
  .close-button {
    margin-top: 20px;
  }
  .close-button a {
    background-color: #00DBDE;
    background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
    color: #DAEC28;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .close-button a:active {
    background-image: linear-gradient(45deg, #00DBDE 30%, #FC00FF 100%);
  }
  #footer {
    color: #DAEC28;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont-item {
    display: block;
    width: 50%;
  }
  .cont-item:nth-child(n+3) {
    margin-top: 30px;
  }
  .site-item {
    padding: .7rem 1rem;
  }
  .nav a {
    color: #DAEC28;
  }
  .nav ul {
    margin: 0;
    font-size: 10px;
    text-align: center;
  }
  .nav li {
    font-size: 10px;
  }
  .nav img {
    width: 100px;
  }
  .copyright {
    background: #2c0a77;
    text-align: center;
  }
  .copyright p {
    margin-bottom: 0;
    padding: 1rem;
  }
}

@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
  }
}

@keyframes sheen {
  0% {
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
  }
}

@-webkit-keyframes active-btn05-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-btn05-bar02 {
  100% {
    height: 0;
  }
}
/*# sourceMappingURL=style_pc.css.map */