html {
  scroll-behavior: smooth;
}

body {
  background-color: #b5dffa;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  margin: 10% auto;
}

.section-title {
  font-size: 2.5rem;
}

.conteiner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*--------------------------------------------
header
----------------------------------------------*/
#header {
  position: fixed;
  z-index: 10;
}

.btn-trigger {
  display: none;
}

.main-nav {
  display: none;
}

.btn-toggle {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
}

.btn-toggle span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #F79428;
}

.btn-toggle span:nth-of-type(1) {
  top: 0;
}

.btn-toggle span:nth-of-type(2) {
  top: 20px;
}

.btn-toggle span:nth-of-type(3) {
  bottom: 0;
}

.btn-toggle:active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
          transform: translateY(20px) rotate(-45deg);
}

.btn-toggle:active span:nth-of-type(2) {
  opacity: 0;
}

.btn-toggle:active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
          transform: translateY(-20px) rotate(45deg);
}

/*--------------------------------------------
about
----------------------------------------------*/
.about-info {
  margin: auto 2rem;
}

.basic-info .hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*--------------------------------------------
skill
----------------------------------------------*/
.skill-card {
  margin: 1.125rem;
  border: solid 1px #F79428;
  border-radius: 5%;
}

.skill-card h3 {
  text-align: center;
}

.skill-item {
  margin: 1.5rem 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fa-orange {
  color: #F79428;
}

.fa-blue {
  color: #235BC8;
}

.fa-yellow {
  color: #FFD400;
}

.fa-sky {
  color: #35C1DD;
}

.fa-red {
  color: #EF4644;
}

/*--------------------------------------------
work
----------------------------------------------*/
.work-item {
  margin: 1.125rem;
  border: solid 1px #F79428;
  border-radius: 5%;
}

.work-item img {
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------
contact
----------------------------------------------*/
.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto 20%;
}

/*--------------------------------------------
footer
----------------------------------------------*/
#footer {
  margin-bottom: 0;
  background-color: #85caf7;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
}

.nav a {
  font-size: 1.5rem;
}

.copyright {
  background-color: #55b6f4;
  text-align: center;
}

.copyright p {
  color: #F79428;
  margin-bottom: 0;
  padding: .5rem;
}

@media screen and (min-width: 1024px) {
  .main-nav {
    width: 20%;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */